<div id="hiw">
  <div id="signup">
    <div id="signup-form">
      <%= form_for User.new, :html => { class: "form-inline" }, remote: true do |f| -%>
        <%= f.label :email, "Help fix advertising" -%>
        <%= f.text_field :email, :placeholder => "email address" -%>
        <%= submit_tag "Sign Up" -%>
      <%- end -%>
    </div>

    <div id="thankyou" style="display:none">
      <h1>Thank you!</h1>
      <h2>Please tweet: <h2>
      <h2> <%= mail_to "contact@prizzm.com", "Questions/comments?"  %>
    </div>
  </div>

  <div id="learn-more">
    <%= link_to "#works" do -%>
      Learn more about Prizzm
    <%- end -%>
  </div>

  <div id="works">
    <div>
      <h2>How it works</h2>

      <div class="col arrow">
        <div class="illu">
          <%= image_tag "check.png" -%>
        </div>

        <div class="desc">
          Record your interests and<br />
          change them any time.
        </div>
      </div>

      <div class="col arrow">
        <div class="illu">
          <%= image_tag "global.png" -%>
        </div>

        <div class="desc">
          Pick your location to<br />
          enhance local offers.
        </div>
      </div>

      <div class="col">
        <div class="illu">
          <%= image_tag "rate.png" -%>
        </div>

        <div class="desc">
          Rate ads until they are<br />
          actually interesting to you.
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div id="ads">
    <div>
      <h2>Ads suck</h2>
      <div class="col">
        <div class="illu">
          <%= image_tag "spy.png" -%>
        </div>
        <div class="desc">
          Browsers spying
        </div>
      </div>
      <div class="col">
        <div class="illu">
          <%= image_tag "data.png" -%>
        </div>
        <div class="desc">
          Reselling your data
        </div>
      </div>
      <div class="col">
        <div class="illu">
          <%= image_tag "spam.png" -%>
        </div>
        <div class="desc">
          Spam email
        </div>
      </div>
      <div class="col">
        <div class="illu">
          <%= image_tag "ads.png" -%>
         </div>
        <div class="desc">
          Irrelevant ads
        </div>
      </div>
      <div class="clear"></div>
      <h2>Prizzm fixes that</h2>
    </div>
  </div>
</div>
